/* 演示模式样式 */
body.demo-mode-active .app-header,
body.demo-mode-active .app-footer,
body.demo-mode-active .setting-bar {
  display: none !important;
}

body.demo-mode-active {
  overflow: hidden !important;
  background-color: black !important;
}

/* 演示模式下的内容样式 */
.demo-mode {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
}

.demo-content {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
} 